body {
    font-family: 'Trebuchet MS';
    background-image: url("green.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}
 
button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    border: none;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}

button:hover{
    cursor: pointer;
    transform: scale(1.02);
}